<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Doktor Adi</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Adi" placeholder="Enter Doktor Adi">
    </div>
</div>
<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Doktor Soyadi</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Soyadi" placeholder="Enter Doktor Soyadi">
    </div>
</div>

<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Doktor Uzmanligi</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Uzmanligi" placeholder="Enter Doktor Uzmanligi">
    </div>
</div>


<button (click)="addDoktor()"   data-bs-toggle="modal" data-bs-target="#exampleModal"  *ngIf="doktor.id==0" class="btn btn-primary">Ekle</button>



 <button (click)="updateDoktor()"  *ngIf="doktor.id!=0" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary">Güncelle</button> 